.rotate {
    transform: rotate(180deg);
    transition-duration: 0.6s;
}
.normal {
    transition-duration: 0.6s; 
}
.content {
    height: 0px;
    overflow: hidden;
    transition: height ease 0.6s;
}
.contentShow {
    height: 70px;
}

@media only screen and (max-width: 1580px) and (min-width: 1280px) {
  .contentShow {
      height: 100px;
  }
}

@media only screen and (max-width: 782px) {
  .contentShow {
      height: 100px;
  }
}

@media only screen and (max-width: 590px) {
  .contentShow {
      height: 130px;
  }
}

.marquee{
    width: 100vw;
    position: absolute !important;
    height: 5rem;
    left: 0;
    /* margin-top: 20rem; */
}